[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyinstaller = "*"
pytest = "*"
pylint = "*"
Flask = "*"
python-dotenv = "*"
pytest-circleci = "*"
flask-dropzone = "*"
"google.cloud.automl" = "*"
google-cloud-automl = "*"

[requires]
python_version = "3.7"
