<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset='UTF-8'>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}

    <script src="https://unpkg.com/htmx.org@0.4.0"></script>
  </head>

  <body>
    <center>
      <h1>TarotBot</h1>
      <p>Upload your image to look into the future!</p>
      <i>At present, this app only works with still photos of an individual Tarot card.</i>
    </center>
    {{ dropzone.create(action='predict') }}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
    <center>
      <br><a href="/retrieve-predictions"> Click here to see your predictions! </a></br>
    </center>
  </body>
</html>
