<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset='UTF-8'>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
    <center><h1>TarotBot</h1></center>
  </head>

  <body>
    <center>
      <p>Upload your image to look into the future!</p>
      <i>
        At present, this app only functions with still photos of an individual tarot card.
        <br>Card must be one of the
        <a href="https://en.wikipedia.org/wiki/Major_Arcana"> major arcana</a> from the
        <a href="https://en.wikipedia.org/wiki/Rider-Waite_tarot_deck"> Rider-Waite-Smith deck</a>.
      </i>
      {{ dropzone.create(action='predict') }}
      {{ dropzone.load_js() }}
      {{ dropzone.config() }}
      <br><a href="/retrieve-predictions"> Click here to see your predictions! </a></br>
    </center>
  </body>
</html>
